include *.md MANIFEST.in

recursive-include src *.h *.cc *.py
recursive-include test *.py *.txt
recursive-include tools *.def

recursive-include tutorials *.py *.ipynb *.sh *.md *.xlsx *.svg
include doc/Makefile
graft doc/source
